* {box-sizing: border-box}


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 0;
    background-color: rgb(255, 255, 255);
    padding: 0px
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.row {
    display: flex;
    padding: 50px;
  }
  
  .column {
    flex: 22.22%;
    padding: 5px;
  }
  
  .wicked:hover {
    transform: scale(0.9);
  }
  .lion:hover {
    transform: scale(0.9);
  }
  .dracula:hover {
    transform: scale(0.9);
  }
  .matilda:hover {
    transform: scale(0.9);
  }

.lottery-container {
    padding: 0px;
    border-radius: 8px;
    margin: auto;
    justify-content: center;
}

button { 
    padding: 10px 60px;
    background-image: linear-gradient(to right, rgb(255, 39, 75), rgb(252, 30, 30));
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    background-color: #a60000
}

.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(red, green, blue, alpha);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #d50000;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(red, green, blue, alpha);
}
.navbar

@media (max-width 600px) {
    .lottery-container {
        margin: 20px;
    }
}

