* {box-sizing: border-box}


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 0;
    background-color: rgb(255, 255, 255);
    padding: 0px
}

/* Four image containers */

.row {
    display: flex;
    padding: 50px;
  }
  
  .column {
    flex: 22.22%;
    padding: 5px;
  }
  
  .wicked:hover {
    transform: scale(0.9);
  }
  .lion:hover {
    transform: scale(0.9);
  }
  .dracula:hover {
    transform: scale(0.9);
    
  }
  .matilda:hover {
    transform: scale(0.9);
  }

.lottery-container {
    padding: 0px;
    border-radius: 8px;
    margin: auto;
    justify-content: center;
}

button { 
    padding: 10px 60px;
    background-image: linear-gradient(to right, rgb(255, 54, 88), red);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}


button:hover {
  background-image: linear-gradient(to left, rgb(255, 0, 140), rgb(255, 0, 0));
  
}

button:active {
  opacity: 0.8;
}

.modal {
  background-color: black;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;
}
.modal2 {
  background-color: black;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.open {
  opacity: 1;
  z-index: 999;
}
.modal2.open {
  opacity: 1;
  z-index: 999;
}

.modal-inner {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 4px black;
  padding: 15px 25px;
  text-align: center;
  width: 380px;
}
.modal2-inner {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 4px black;
  padding: 15px 25px;
  text-align: center;
  width: 380px;
}

.modal-inner h2 {
  margin: 0;
}
.modal2-inner h2 {
  margin: 0;
}

.modal-inner p {
  line-height: 24px;
  margin: 10px 0;
}
.modal2-inner p {
  line-height: 24px;
  margin: 10px 0;
}

/* media query for smaller screen-sizes */


@media (max-width 600px) {
    .lottery-container {
        margin: 20px;
    }
}

