* {box-sizing: border-box}


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 0;
    background-color: rgb(255, 255, 255);
    padding: 0px
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.row {
    display: flex;
    padding: 50px;
  }
  
  .column {
    flex: 22.22%;
    padding: 5px;
  }
  
  .wicked:hover {
    transform: scale(0.9);
  }
  .lion:hover {
    transform: scale(0.9);
  }
  .dracula:hover {
    transform: scale(0.9);
  }
  .matilda:hover {
    transform: scale(0.9);
  }

.lottery-container {
    padding: 0px;
    border-radius: 8px;
    margin: auto;
    justify-content: center;
}

button { 
    padding: 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a60000
}

.navbar

@media (max-width 600px) {
    .lottery-container {
        margin: 20px;
    }
}

